<script src="js/sql-wasm.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.31.2/src-min-noconflict/ace.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/ace-builds@1.31.2/css/ace.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<section class="pjax-area">
    <div id="editor"></div>
    <button id="querybox" class="album-next-one">QUERY</button>
    <div id="info"></div>
    <div id="table-wrapper"></div>
    <div id="error"></div>
    <script type="module">
        const initSqlJs = window.initSqlJs;
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/sql");
        editor.session.setUseWrapMode(true);
        editor.setAutoScrollEditorIntoView(true);
        editor.setOption("maxLines", 100); 
        editor.setValue(`/* tables(album, photo, location, exifdata) */
SELECT photo.*, exifdata.maker
FROM photo
LEFT OUTER JOIN exifdata
ON photo.exif_data_id = exifdata.id
WHERE photo.location_id NOT NULL AND
exifdata.maker = 'FUJIFILM' ORDER BY RANDOM() LIMIT 5;`);
        const SQL = await initSqlJs({
            locateFile: file => `<%- config.root %>js/sql-wasm.wasm`
        });
        // Create a database
        const sqlite = await fetch('sqlite.db');
        const sqlite_buf = await sqlite.arrayBuffer();
        const db = new SQL.Database(new Uint8Array(sqlite_buf));
        function isImage(filename) {
            const ext = filename.split('.').pop().toLowerCase();
            return ['jpg', 'jpeg', 'gif', 'png', 'bmp', 'svg', 'webp'].includes(ext);
        }
        function query() {
            const wrapper = document.getElementById('table-wrapper')
            wrapper.innerHTML = '';
            $('#error').text('');
            $('#info').text('');
            const q = editor.getValue();
            var data = null;
            try {
                const start = performance.now();
                data = db.exec(q);
                const duration = performance.now() - start;
                $('#info').text('query: ' + duration + 'ms');
            } catch (error) {
                $('#error').text(error);
                return;
            }
            // console.log(data);
            for (const item of data) {
                const table = document.createElement('table');
                table.classList = 'ln-table table table-hover table-responsive';
                const thead = table.createTHead();
                thead.classList.add('thead-dark');
                const row = thead.insertRow();

                wrapper.appendChild(table);
                for (const column of item.columns) {
                    const th = document.createElement('th');
                    th.scope = 'col';
                    const text = document.createTextNode(column);
                    th.appendChild(text);
                    row.appendChild(th);
                }

                // 添加数据行
                const tbody = table.createTBody();
                for (const row of item.values) {
                    const tr = tbody.insertRow();
                    for (const cell of row) {
                        const td = tr.insertCell();
                        if (isImage(cell + "")) {
                            const a = document.createElement('a');
                            a.text = cell
                            a.setAttribute('href', 'photo?name=' + cell);
                            td.appendChild(a);
                            const img = document.createElement('img');
                            img.style.width = '200px'
                            img.src = '<%- config.thumbnail_url %>' + cell.replace(/\.\w+$/, '.webp');
                            addBackUp(img, '<%- config.backup_thumbnail_url %>/', cell.replace(/\.\w+$/, '.webp'))
                            td.appendChild(img)
                            continue
                        }
                        const text = document.createTextNode(cell);
                        td.appendChild(text);
                    }
                }
            }
        }
        $("#querybox").click(query)
    </script>
    <style>
        #error {
            color: red;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }

        #info {
            color: greenyellow;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }

        #table-wrapper {
            margin-top: 20px;
            max-width: 100%;
            overflow-x: auto;
        }

        ln-table {
            width: auto;
            margin: 0 auto;
            margin-top: 20px;
            padding: 20px;
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        #editor {
            width: 100%;
            height: auto;
            min-height: 200px;
            margin: 0 auto;
            font-size: 14px;
        }

        @media (min-width: 769px) {
            #editor {
                margin-top: 130px;
                font-size: 18px;
            }
        }

        #querybox {
            margin: 0 auto;
            margin-top: 10px;
        }

        .album-next-one {
            margin-top: 10px;
            display: block;
            text-align: center;
            border-style: solid;
            border-color: black;
            background-color: white;
            margin: 0 8px;
            padding: 1em 1.5em;
            border-width: 2px;
            font-weight: bold;
        }

        .album-next-one:hover {
            background-color: black;
            color: white;
        }

        .album-next-one:active {
            background-color: white;
            color: black;
        }
    </style>
</section>