<div class="content-area post-album fullscreen-content-area">
    <div class="grid grid-cols-3 gap-2">
        <div id="all-pic"
            class="pic-area fullscreen-pic">
            <div id="pic-g" class="pic-item" />
            <img id="imgbox" class="pic-box nofancybox" />
        </div>
        <div id="wrapper">
            <%- include('exif.ejs') %>
        </div>
    </div>
    <div id="tools-wrapper" class="album-info fullscreen-info" hidden>
        <p id="descbox" class="text-center text-xs hint-text"> </p>
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <button id="copybox" class="album-next-one">COPY URL</button>
            <button id="nextbox" class="album-next-one">NEXT ONE</button>
            <button id="downloadbox" class="album-next-one">DOWNLOAD</button>
        </div>
        <div class="album-info-main">
        </div>
    </div>
</div>
<style>
    body {
        background-color: #fff;
    }

    .screenshot {
        display: flex;
    }

    #nextbox,
    #downloadbox,
    #copybox {
        margin-top: 10px;
    }

    #exif-maker-logo {
        text-align: center;
        vertical-align: baseline;
    }

    #exif-param {
        font-weight: bold;
        font-size: 90%;
    }

    #exif-date {
        margin-top: 4px;
        font-weight: lighter;
        color: gray;
    }

    #exif-lens,
    #exif-author {
        font-weight: lighter;
        color: gray;
    }

    #wrapper {
        display: none;
    }

    .pic-wrapper {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 10px 10px;
    }

    .pic-area {
        border-style: solid;
        border-width: thin;
        border-color: rgb(22, 22, 22);
    }

    .album-comment {
        max-width: 800px;
        margin: 0 auto;
    }

    .album-article {
        font-size: 1.2rem;
    }

    .hint-text {
        color: black;
        opacity: 60%;
        padding-top: 4px;
    }

    .pic-item {
        background-color: black;
        background-size: cover;
        background-position: center;
        transition: all .3s ease-in-out;
        min-height: 200px;
        aspect-ratio: 3 / 2;
    }

    .pic-item>a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .pic-box {
        transition: all .3s ease-in-out;
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 0 auto;
    }

    .album-info {
        flex-direction: column;
        justify-content: space-between;
        color: var(--main-black);
    }

    .album-title {
        font-size: 2em;
    }

    .album-subtitle {
        font-size: 1.2em;
        opacity: 0.8;
    }


    .album-location {
        display: inline-flex;
        font-size: .8em;
        color: #71afdd;
        gap: 4px;
        padding-bottom: 4px;
    }

    .album-list {
        padding-top: 6px;
        overflow-x: scroll;
    }

    .album-item {
        background-color: black;
        aspect-ratio: 1 / 1;
        min-height: 100px;
        min-width: 100px;
        background-size: cover;
        background-position: center;
    }

    .album-next-one {
        display: block;
        text-align: center;
        border-style: solid;
        border-color: black;
        background-color: white;
        margin: 0 8px;
        padding: 1em 1.5em;
        border-width: 2px;
        font-weight: bold;
        margin-top: 10px;
    }

    .album-next-one:hover {
        background-color: black;
        color: white;
    }

    .album-next-one:active {
        background-color: white;
        color: black;
    }

    @media (max-width: 768px) {
        .album-next-one {
            padding: 0.3em 0.6em;
            margin-left: 4px;
        }

        .content-area {
            max-width: 100vw;
        }

        .pic-area {
            grid-column: span 3 / span 3;
            padding: 16px 16px 0px 16px;
        }

        .album-info {
            grid-column: span 3 / span 3;
            padding: 12px;
        }

        .album-article {
            padding: 2px;
        }

        .album-title {
            font-size: 1.5em;
        }

        .pic-wrapper {
            padding: 4px 0px;
        }

        #exif-param {
            font-size: .5rem;
        }

        #exif-date {
            font-size: .6rem;
        }

        #exif-maker {
            font-size: .5rem;
        }

        #exif-lens,
        #exif-author {
            font-size: .5rem;
        }

        #exif-maker-logo {
            height: 30px;
        }
    }

    @media (min-width: 769px) {
        .content-area {
            max-width: 92%;
            margin: 0 auto;
            padding: 135px 16px 16px 16px;
        }

        .album-article {
            margin-top: 2px;
        }

        .default-article {
            max-height: 500px;
            overflow-y: scroll;
        }

        .pic-area {
            grid-column: span 2 / span 2;
        }

        .album-info {
            grid-column: span 1 / span 1;
        }
    }

    @media (min-width: 1304px) {
        .content-area {
            max-width: 1400px;
        }

        .fullscreen-content-area {
            max-height: 80vh;
            max-width: 100vh;
        }

        .itp-footer {
            margin-top: 15vh;
        }

    }

    @media (prefers-color-scheme: dark) {
        .album-info {
            color: #fff;
        }

        .album-location {
            color: #bdbdbd;
        }

        .hint-text {
            color: white;
            opacity: 80%;
        }

        .pic-item {
            background-color: black;
        }

        .album-item {
            background-color: black;
        }

        .album-next-one {
            border-color: white;
            background-color: black;
            color: white;
        }

        .album-next-one:hover {
            color: black;
            background-color: white;
        }

        .album-next-one:active {
            border-color: white;
            background-color: black;
            color: white;
        }

        .pic-area {
            border-style: solid;
            border-width: thin;
            background-color: white;
            border-color: white;
        }
    }

    .fullscreen-pic {
        grid-column: span 3 / span 3;
    }

    .fullscreen-info {
        grid-column: span 3 / span 3;
    }

.mlp-wrap {
    overflow: hidden;
    border-radius: inherit;    /* 如果父级有圆角，继承一下更自然 */
}

</style>
